<p Style = "color: #747F7F ; text-align: right"> 27/06/2023</p>
<img src="casa_bienes_1.png" alt="primeracasa">
<h1 style="color: #1B7F79 ; text-align: center"> Universidad Castro Carazo</h1>
<h3 style="text-align: center"> Analisis de datos</h3>
<h4 style="color: #1B7F79 ; text-align: center"> Jeremi Membreño Trujillo</h4>

<p> El presente proyecto pretende constituirseen una guiía para el desarrollo de actividades de analisis de datos con grandes volumenes de data, de manera que se permitan conoces y aplicar los siguientes elementos:</p>
<ol>
    <li>importacion de librerias
    <li>Carga de set de datos
    <li>Integracion de los set de datos
    <li>Trabajo con valores faltantes
    <li>Normalizacion de los datos
    <li>Estandarizacion de los datos
    <li>Agrupacion de los datos
    <li>Graficado de los datos
 </ol>

<h3 Style ='color:#F2668B'>1. importacion de librerias </h3>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

<h3 Style ='color:#F2668B'>2. carga de set de datos </h3>

In [2]:
excelpath = 'DataSet.csv' # lugar del archivo o nombre

data = pd.read_csv(excelpath,index_col = None, sep = ';')
data.head(20)

C:\Users\jerem\AppData\Local\Temp\ipykernel_23828\1014561038.py:3: DtypeWarning: Columns (5,6,8,9,10,11,12,14,15,16,17,18,19,20,21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(excelpath,index_col = None, sep = ';')

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,150500.00,325000.00,0.463,Commercial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,253000.00,430000.00,0.5883,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.00,179900.00,0.7248,Residential,Condo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.00,890000.00,0.6958,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.00,1447500.00,0.5957,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,200109.0,2020.0,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.00,1250000.00,0.678,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2020180.0,2020.0,03/01/2021,Berlin,1539 FARMINGTON AVE,234200.00,130000.00,18.015,Residential,Two Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2020313.0,2020.0,07/01/2021,Berlin,216 WATCH HILL RD,412000.00,677500.00,0.6081,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,200097.0,2020.0,06/04/2021,Bethany,23 AMITY RD,511000.00,795000.00,0.6427,Commercial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,20139.0,2020.0,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360.00,335000.00,0.5115,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,200086.0,2020.0,08/10/2021,Bethlehem,39 WOODLAND RD,168900.00,352000.00,0.4798,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000381.0,2020.0,09/13/2021,Bloomfield,9 SADDLE RIDGE,163730.00,250000.00,0.6549,Residential,Condo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,200258.0,2020.0,01/22/2021,Branford,34 SUNRISE COVE CAMP,530500.00,700000.00,0.7578,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,200804.0,2020.0,09/28/2021,Branford,119 MONTOWESE ST,455100.00,650000.00,0.7001,Commercial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,201295.0,2020.0,09/09/2021,Bristol,609 CAMP ST,144340.00,249900.00,0.5775,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,200032.0,2020.0,10/08/2020,Bristol,9 LESLIE COURT,94920.00,155000.00,0.6123,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,200354.0,2020.0,12/29/2020,Bristol,391 TIFFANY LA,173740.00,299000.00,0.581,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,200527.0,2020.0,03/01/2021,Bristol,25 WARD ST,85680.00,183000.00,0.4681,Residential,Two Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,201212.0,2020.0,08/23/2021,Bristol,8 JENNINGS TERR,88060.00,91000.00,0.9676,Residential,Single Family,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20000050.0,2020.0,11/05/2020,Brookfield,4 CHELSEA CT,105110.00,160000.00,0.6569375,Residential,Condo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# que colummnas tienen los datos?
data.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks',
       'Location', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'],
      dtype='object')

In [4]:
# que tamaño tienen los datos?
data.shape

(200015, 26)

<h5 Style ='color:#F2668B'>2.1 revision de encabezados del DataFrame </h5>
<p>Lo que se busca es estandarizar el nombre de cada columna el nombre de cada columna de los set de datos que se carguen a los proyectos de python </p>

<ol>
    <li>los nombre de las columnas no deben contener espacios en blanco</li>
    <li>los nombre de las columnas no deben comenzar con numeros</li>
    <li>si el nombre tiene 2 palabras la letra iinicia de la segunda palabra debe ir en mayuscula </li>
    <li>no deben existir nombre repetidos</li>
</ol>

In [5]:
# voy a eliminar las columnas unnamed
data.drop(['Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16','Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], axis = 1, inplace = True)

In [6]:
data.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks',
       'Location'],
      dtype='object')

In [7]:
# que tamaño tienen los datos ahora
data.shape

(200015, 14)

#### columnas unnamed eliminadas

In [8]:
# aqui se cambian los nombres de las columnas

data = data.rename(columns={'Serial Number': 'serialNumber', 'List Year': 'listYear', 'Date Recorded': 'dateRecorded', 'Town': 'town', 'Address': 'address', 'Assessed Value': 'assessedValue', 'Sale Amount': 'saleAmount', 'Sales Ratio': 'salesRatio', 'Property Type': 'propertyType', 'Residential Type': 'residentialType', 'Non Use Code': 'nonUseCode', 'Assessor Remarks': 'assessorRemarks', 'OPM remarks': 'opmRemarks', 'Location': 'location'})
data.columns

Index(['serialNumber', 'listYear', 'dateRecorded', 'town', 'address',
       'assessedValue', 'saleAmount', 'salesRatio', 'propertyType',
       'residentialType', 'nonUseCode', 'assessorRemarks', 'opmRemarks',
       'location'],
      dtype='object')

In [9]:
data.head(50)

,serialNumber,listYear,dateRecorded,town,address,assessedValue,saleAmount,salesRatio,propertyType,residentialType,nonUseCode,assessorRemarks,opmRemarks,location
0,2020348.0,2020.0,09/13/2021,Ansonia,230 WAKELEE AVE,150500.00,325000.00,0.463,Commercial,NaN,NaN,NaN,NaN,NaN
1,20002.0,2020.0,10/02/2020,Ashford,390 TURNPIKE RD,253000.00,430000.00,0.5883,Residential,Single Family,NaN,NaN,NaN,NaN
2,200212.0,2020.0,03/09/2021,Avon,5 CHESTNUT DRIVE,130400.00,179900.00,0.7248,Residential,Condo,NaN,NaN,NaN,NaN
3,200243.0,2020.0,04/13/2021,Avon,111 NORTHINGTON DRIVE,619290.00,890000.00,0.6958,Residential,Single Family,NaN,NaN,NaN,NaN
4,200377.0,2020.0,07/02/2021,Avon,70 FAR HILLS DRIVE,862330.00,1447500.00,0.5957,Residential,Single Family,NaN,NaN,NaN,NaN
5,200109.0,2020.0,12/09/2020,Avon,57 FAR HILLS DRIVE,847520.00,1250000.00,0.678,Residential,Single Family,NaN,NaN,NaN,NaN
6,2020180.0,2020.0,03/01/2021,Berlin,1539 FARMINGTON AVE,234200.00,130000.00,18.015,Residential,Two Family,08 - Part Interest,NaN,NaN,NaN
7,2020313.0,2020.0,07/01/2021,Berlin,216 WATCH HILL RD,412000.00,677500.00,0.6081,Residential,Single Family,NaN,NaN,NaN,NaN
8,200097.0,2020.0,06/04/2021,Bethany,23 AMITY RD,511000.00,795000.00,0.6427,Commercial,NaN,NaN,NaN,NaN,NaN
9,20139.0,2020.0,12/16/2020,Bethel,16 DEEPWOOD DRIVE,171360.00,335000.00,0.5115,Residential,Single Family,NaN,NaN,NaN,NaN
10,200086.0,2020.0,08/10/2021,Bethlehem,39 WOODLAND RD,168900.00,352000.00,0.4798,Residential,Single Family,NaN,NaN,NaN,POINT (-73.18197 41.64672)
11,2000381.0,2020.0,09/13/2021,Bloomfield,9 SADDLE RIDGE,163730.00,250000.00,0.6549,Residential,Condo,NaN,NaN,NaN,NaN
12,200258.0,2020.0,01/22/2021,Branford,34 SUNRISE COVE CAMP,530500.00,700000.00,0.7578,Residential,Single Family,NaN,WATERFRONT/COTTAGE ONLY/LAND IS ASSOCIATION OWNED,NaN,NaN
13,200804.0,2020.0,09/28/2021,Branford,119 MONTOWESE ST,455100.00,650000.00,0.7001,Commercial,NaN,NaN,NaN,NaN,NaN
14,201295.0,2020.0,09/09/2021,Bristol,609 CAMP ST,144340.00,249900.00,0.5775,Residential,Single Family,NaN,NaN,NaN,NaN
15,200032.0,2020.0,10/08/2020,Bristol,9 LESLIE COURT,94920.00,155000.00,0.6123,Residential,Single Family,NaN,NaN,NaN,NaN
16,200354.0,2020.0,12/29/2020,Bristol,391 TIFFANY LA,173740.00,299000.00,0.581,Residential,Single Family,NaN,NaN,NaN,NaN
17,200527.0,2020.0,03/01/2021,Bristol,25 WARD ST,85680.00,183000.00,0.4681,Residential,Two Family,NaN,NaN,NaN,NaN
18,201212.0,2020.0,08/23/2021,Bristol,8 JENNINGS TERR,88060.00,91000.00,0.9676,Residential,Single Family,14 - Foreclosure,FORECLOSURE SALE OUT OF BANK,NaN,NaN
19,20000050.0,2020.0,11/05/2020,Brookfield,4 CHELSEA CT,105110.00,160000.00,0.6569375,Residential,Condo,NaN,NaN,NaN,NaN
20,20000179.0,2020.0,02/22/2021,Brookfield,72 HOMESTEAD LN,94770.00,170000.00,0.5574,Residential,Condo,NaN,NaN,NaN,NaN
21,200042.0,2020.0,05/19/2021,Canaan,93 MAIN ST,355800.00,599000.00,0.5939,Residential,Two Family,NaN,NaN,NaN,NaN
22,200117.0,2020.0,04/12/2021,Canton,52 COUNTRY LANE,160850.00,280000.00,0.5744,Residential,Single Family,NaN,NaN,NaN,NaN
23,2000230.0,2020.0,03/16/2021,Cheshire,50 ABBEY CT,210940.00,365000.00,0.5779,Residential,Single Family,NaN,NaN,NaN,NaN
24,2000330.0,2020.0,05/20/2021,Cheshire,844 HIGHLAND AVE,144220.00,204000.00,0.7069,Residential,Single Family,25 - Other,DEFERRED MAINTENANCE,NaN,NaN
25,200078.0,2020.0,09/20/2021,Chester,6 SUNSET AVE,250100.00,418800.00,0.5971,Residential,Single Family,NaN,NaN,NaN,NaN
26,200268.0,2020.0,07/09/2021,Colchester,347 CABIN RD,104000.00,350000.00,0.2971,Vacant Land,NaN,NaN,NaN,NaN,NaN
27,200035.0,2020.0,10/29/2020,Colchester,160 SHADBUSH DR,223900.00,392000.00,0.5711,Residential,Single Family,NaN,NaN,NaN,NaN
28,200024.0,2020.0,11/09/2020,Columbia,WEBSTER LANE,60300.00,75000.00,0.804,Vacant Land,NaN,NaN,NaN,NaN,NaN
29,200074.0,2020.0,09/01/2021,Cornwall,131 KENT RD,246100.00,385000.00,0.6392,Commercial,NaN,NaN,NaN,NaN,NaN
30,200101.0,2020.0,01/07/2021,Coventry,74 LAKEVIEW DR,142800.00,245000.00,0.5828,Residential,Single Family,NaN,NaN,NaN,NaN
31,200282.0,2020.0,07/15/2021,Coventry,1467 SOUTH ST,359800.00,480000.00,0.7495,Commercial,NaN,NaN,NaN,NaN,NaN
32,200039.0,2020.0,11/06/2020,Coventry,2075 MAIN ST,43700.00,25000.00,1.748,Vacant Land,NaN,NaN,NaN,NaN,NaN
33,201328.0,2020.0,08/06/2021,Cromwell,6 BELHAVEN,410670.00,740000.00,0.5549,Residential,Condo,NaN,NaN,NaN,NaN
34,200077.0,2020.0,12/08/2020,Cromwell,60 NORTH RD,174650.00,259000.00,0.6743,Vacant Land,NaN,NaN,NaN,NaN,NaN
35,200195.0,2020.0,04/26/2021,Cromwell,34 SHUNPIKE ROAD,3360000.00,5214750.00,0.6443,Commercial,NaN,NaN,NaN,NaN,NaN
36,200742.0,2020.0,03/29/2021,Danbury,17 OHEHYAHTAH PL,339100.00,550000.00,0.6165,Residential,Single Family,NaN,H16095,NaN,NaN
37,200886.0,2020.0,05/03/2021,Danbury,86 MERRIMAC ST B,189800.00,240000.00,0.7908,Residential,Condo,NaN,G16159-2,NaN,NaN
38,200938.0,2020.0,05/13/2021,Danbury,15-17 BOUGHTON ST #1-5,118900.00,230000.00,0.5169,Residential,Condo,NaN,I14129-5,NaN,NaN
39,201018.0,2020.0,06/03/2021,Danbury,55 FOREST AV,136900.00,150000.00,0.9126,Residential,Single Family,01 - Family,FAMILY TRANSFER / I11200,NaN,NaN
40,201186.0,2020.0,07/12/2021,Danbury,28 MAIN ST,695500.00,3200000.00,0.21734375,Commercial,NaN,NaN,I15336,GAS STATION,NaN
41,201443.0,2020.0,09/01/2021,Danbury,4 COOPER RD,158700.00,325000.00,0.4883,Residential,Single Family,NaN,C05026,NaN,NaN
42,201580.0,2020.0,09/27/2021,Danbury,25 CROWN ST,192300.00,525000.00,0.366285714,Residential,Two Family,NaN,J12167,GOOD SALE PER MLS,NaN
43,200408.0,2020.0,12/24/2020,Danbury,15 SCUPPO RD 1503,130800.00,260000.00,0.503,Residential,Condo,NaN,F14068-1503,NaN,NaN
44,20129.0,2020.0,03/30/2021,Derby,196 ELIZABETH ST,351260.00,873000.00,0.4023,Commercial,NaN,NaN,NaN,NaN,NaN
45,20013.0,2020.0,12/16/2020,Eastford,GENERAL LYON RD,2200.00,20000.00,0.11,Vacant Land,NaN,12 - Non Buildable Lot,UNBLDBL,NaN,NaN
46,200215.0,2020.0,06/04/2021,East Haddam,SHANAGHAN RD,51690.00,65000.00,0.7952,Vacant Land,NaN,NaN,NaN,NaN,NaN
47,200242.0,2020.0,01/27/2021,East Haven,130 COE AVE #51,28240.00,73000.00,0.386849315,Residential,Condo,NaN,NaN,GOOD SALE PER MLS,NaN
48,10095.0,2001.0,11/16/2001,Farmington,5 SPARROW LN,67670.00,302866.00,0.223432145,NaN,NaN,7,NaN,NaN,NaN
49,200375.0,2020.0,04/06/2021,East Haven,55 THOMPSON ST #5A,76960.00,140000.00,0.5497,Residential,Condo,NaN,NaN,NaN,NaN

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200015 entries, 0 to 200014
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   serialNumber     200013 non-null  float64
 1   listYear         200013 non-null  float64
 2   dateRecorded     200011 non-null  object
 3   town             200013 non-null  object
 4   address          200009 non-null  object
 5   assessedValue    200013 non-null  object
 6   saleAmount       200011 non-null  object
 7   salesRatio       200011 non-null  object
 8   propertyType     66804 non-null   object
 9   residentialType  61013 non-null   object
 10  nonUseCode       45783 non-null   object
 11  assessorRemarks  14350 non-null   object
 12  opmRemarks       2895 non-null    object
 13  location         57095 non-null   object
dtypes: float64(2), object(12)
memory usage: 21.4+ MB

In [11]:
# como se distibuyen los valores numericos?
data.describe()

       serialNumber       listYear
count  2.000130e+05  200013.000000
mean   1.112790e+06    2007.822467
std    1.272975e+07       8.656000
min    0.000000e+00    2001.000000
25%    1.096800e+04    2001.000000
50%    2.040100e+04    2002.000000
75%    2.000610e+05    2020.000000
max    2.000500e+09    2020.000000

In [12]:
# Guardar el DataFrame en un archivo CSV
# data.to_csv('DataSet1.csv', index=False)

<h3 Style ='color:#F2668B'>3. integración de los set de datos </h3>

#### No se necesita

<h3 Style ='color:#F2668B'>4. Trabajo con valores faltantes </h3>
<p>Que se hace para el manejo de valores faltantes ? </p>

<ol>
    <li>identificar como se muestran los valores faltantes</li>
    <li>contar la cantidad de valores faltantes en el set de datos</li>
    <li>imputacion de valores numericos</li>
    <li>imputacion de valores categoricos</li>
    <li>eliminar filas</li>
</ol>
<h5 Style ='color:#F2668B'>4.1 identificar como se muestran los valores faltantes </h5>

In [13]:
# data.replace('?', np.nan, inplace = True)
# data.head(5)

ya los valores faltantes estan en Nan no hay que cambiarlos

<h5 Style ='color:#F2668B'>4.2 contar la cantidad de valores faltantes en el set de datos</h5>

In [14]:
dftemp = data.isnull()
dftemp.head()

,serialNumber,listYear,dateRecorded,town,address,assessedValue,saleAmount,salesRatio,propertyType,residentialType,nonUseCode,assessorRemarks,opmRemarks,location
0,False,False,False,False,False,False,False,False,False,True,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,True,True,True,True

In [15]:
for column in dftemp.columns.values.tolist():
    print(column)
    print(dftemp[column].value_counts())
    print("")

serialNumber
False    200013
True          2
Name: serialNumber, dtype: int64

listYear
False    200013
True          2
Name: listYear, dtype: int64

dateRecorded
False    200011
True          4
Name: dateRecorded, dtype: int64

town
False    200013
True          2
Name: town, dtype: int64

address
False    200009
True          6
Name: address, dtype: int64

assessedValue
False    200013
True          2
Name: assessedValue, dtype: int64

saleAmount
False    200011
True          4
Name: saleAmount, dtype: int64

salesRatio
False    200011
True          4
Name: salesRatio, dtype: int64

propertyType
True     133211
False     66804
Name: propertyType, dtype: int64

residentialType
True     139002
False     61013
Name: residentialType, dtype: int64

nonUseCode
True     154232
False     45783
Name: nonUseCode, dtype: int64

assessorRemarks
True     185665
False     14350
Name: assessorRemarks, dtype: int64

opmRemarks
True     197120
False      2895
Name: opmRemarks, dtype: int64

location
True     142920
False     57095
Name: location, dtype: int64

<h5 Style ='color:#F2668B'>4.5 Eliminar filas con valores faltantes</h5>

In [16]:
valores_faltantes = data[data[['serialNumber','listYear','dateRecorded','town','address','assessedValue','saleAmount','salesRatio']].isnull().any(axis = 1)]
valores_faltantes

,serialNumber,listYear,dateRecorded,town,address,assessedValue,saleAmount,salesRatio,propertyType,residentialType,nonUseCode,assessorRemarks,opmRemarks,location
12248,20259.0,2020.0,12/21/2020,Hartford,264 PARK TERR,268 PARK TERR,NaN,916930.00,3674992.00,0.2495,Apartments,NaN,24 - Plottage,DECLARATION OF RESTRICTIVE COVENANTS
22428,201115.0,2020.0,08/16/2021,Hartford,29 ANNAWAN ST #31A-J1,29A-A2,NaN,1257806.00,4691040.00,0.2681,Residential,Condo,24 - Plottage,NaN
23268,201113.0,2020.0,08/16/2021,Hartford,30 ALDEN ST #102,#202,#101,NaN,1347294.00,5140750.00,0.262081214,Residential,Condo,24 - Plottage
41668,20305.0,2020.0,01/21/2021,Newtown,127 WALNUT TREE HILL RD,1,5,NaN,4760.00,300000.00,0.0158,Vacant Land,NaN,25 - Other
66668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88704,10537.0,2001.0,02/05/2002,Hartford,NaN,0.00,120000.0,0,NaN,NaN,16,NaN,NaN,NaN
92373,10640.0,2001.0,12/19/2001,Bridgeport,NaN,2106020.00,45000.0,4.680.044.444,NaN,NaN,25,NaN,NaN,NaN
177598,20280.0,2002.0,NaN,Orange,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN
179091,0.0,2002.0,NaN,Orange,NaN,0.0,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data.dropna(subset = ['serialNumber','listYear','dateRecorded','town','address','assessedValue','saleAmount','salesRatio'],axis = 0, inplace = True)
# el index sale mal con este codigo se va a resetear y agregar en el index numeros iniciando desde el 1
data = data.reset_index(drop=True)
data.index += 1

# dfAutos,style()

In [18]:
data.shape
#EL DATAFRAME VA A TENER POR AHORA ESTA ALTURA DE FILAS

(200005, 14)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200005 entries, 1 to 200005
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   serialNumber     200005 non-null  float64
 1   listYear         200005 non-null  float64
 2   dateRecorded     200005 non-null  object
 3   town             200005 non-null  object
 4   address          200005 non-null  object
 5   assessedValue    200005 non-null  object
 6   saleAmount       200005 non-null  object
 7   salesRatio       200005 non-null  object
 8   propertyType     66800 non-null   object
 9   residentialType  61009 non-null   object
 10  nonUseCode       45777 non-null   object
 11  assessorRemarks  14347 non-null   object
 12  opmRemarks       2892 non-null    object
 13  location         57092 non-null   object
dtypes: float64(2), object(12)
memory usage: 21.4+ MB

hasta aqui hay copia por SI ACASO

In [20]:
propertyType = data['propertyType']
propertyType

1          Commercial
2         Residential
3         Residential
4         Residential
5         Residential
             ...
200001            NaN
200002            NaN
200003            NaN
200004            NaN
200005            NaN
Name: propertyType, Length: 200005, dtype: object

In [21]:
print(propertyType.unique())

['Commercial' 'Residential' 'Vacant Land' nan 'Apartments' '0.3013'
 'Industrial' '0.9471' '0.1267' '2150000.00' '250000.00' '120000.00'
 '0.417021277' 'Public Utility' '0.4133' '0.152310345' ' 1032 N' '0.8553'
 '1203125.00' '0.1342' '0.1319' '0.6007' '0.6937' '0.5253' '0.4875'
 '1770817.00' '0.1564' '0.1427' '620000.00' '0.4592' '0.7127' '32400.00'
 '591780.00' '0.1279' '50400.00' '0.6532' '0.5832' '117A' '0.1338'
 '330000.00' '0.1232' '450000.00' '100000.00' '176500.00' '0.1142'
 '546875.00' '0.1273' '412500.00' '0.7211' '0.5042' '0.6645' '0.163293103'
 '0.127' '12.285' '0.637532808' '402400.00' '0.3797' '0.988' '0.8423'
 '28.5' '0.457627119' '0.5859' '0.3377' '0.1301' '212000.00' '0.4237'
 '0.502616456' '2.172' '0.5076' '80360.00' '0.465584416' '24000.00'
 '0.4333' '0.4473' '6C SAW MILL' '0.7286' '340000.00' '169400.00'
 '116456.00' '21000000.00' '300000.00' '0.311395349' '0.8076' '3882000.00'
 '0.4561' '3150000.00' '13.822' '0.4808' '0.402' '0.5073' '153 SUMMIT ST'
 '0.7767' '0.4843' '76.533' '26.076' '0.4436' '0.5488' '0.73584'
 '804680.00' '2.342' '0.5012' '10.686' '12798400.00' '0.7913' '0.563'
 '33750.00' '90000.00' '0.67' '14.728' '0.642833333' '0.7149' '0.4124'
 '66360.00' '0.4697' '0.71254717' '0' '0.8121' '0.845663636' '17.925'
 '0.4469' '20000.00' '0.290833333' '0.3995' '29900.00' '0.4189'
 '115000.00' '232230.00' '50000.00' '162260.00' '0.7717' '0.6539'
 '40000000.00' '0.5521' 'Condo' 'Two Family' 'Three Family'
 'Single Family' '0.6728']

In [22]:
# propertyType = propertyType.apply(lambda x: x if not (isinstance(x, str) and x.isnumeric()) else None)

In [23]:
# print(propertyType.unique())

In [24]:
valores = ['Commercial', 'Residential', 'Vacant Land', 'Apartments', 'Industrial', 'Single Family', 'Three Family', 'Two Family', 'Condo', 'Public Utility']

In [27]:
# columna_original = data['propertyType']

data['propertyType'] = [valor if valor in valores else np.nan for valor in data['propertyType']]

print(data['propertyType'])

1          Commercial
2         Residential
3         Residential
4         Residential
5         Residential
             ...
200001            NaN
200002            NaN
200003            NaN
200004            NaN
200005            NaN
Name: propertyType, Length: 200005, dtype: object

In [28]:
data.tail(50)

,serialNumber,listYear,dateRecorded,town,address,assessedValue,saleAmount,salesRatio,propertyType,residentialType,nonUseCode,assessorRemarks,opmRemarks,location
199956,30594.0,2003.0,07/01/2004,Glastonbury,1537 DIAMOND LK RD,344400.0,645000.0,0.533953488,NaN,NaN,NaN,NaN,NaN,POINT (-72.47931 41.69913)
199957,20521.0,2002.0,05/06/2003,Wallingford,CLIFTON ST 202-208,156700.0,229900.0,0.681600696,NaN,NaN,24.0,NaN,NaN,NaN
199958,20387.0,2002.0,02/07/2003,West Haven,164 UNION AVE,79800.0,187000.0,0.426737968,NaN,NaN,NaN,NaN,NaN,NaN
199959,31103.0,2003.0,09/30/2004,East Hartford,147 KINGSTON DR,140360.0,288500.0,0.486516464,NaN,NaN,NaN,NaN,NaN,NaN
199960,30285.0,2003.0,02/24/2004,Glastonbury,12 GAYFEATHER LN,83300.0,140000.0,0.595,NaN,NaN,1.0,NaN,NaN,NaN
199961,30259.0,2003.0,02/19/2004,Farmington,SETTLEMENT & COLT HWY,297430.0,1400000.0,0.21245,NaN,NaN,NaN,NaN,NaN,NaN
199962,20261.0,2002.0,06/30/2003,Wolcott,264 LYMAN RD 2-2,51940.0,92000.0,0.564565217,NaN,NaN,NaN,NaN,NaN,NaN
199963,30203.0,2003.0,06/28/2004,Granby,4 EMERSON LN,170100.0,328900.0,0.517178474,NaN,NaN,NaN,NaN,NaN,NaN
199964,30821.0,2003.0,07/01/2004,Fairfield,96 RODGERS RD,98630.0,252000.0,0.391388889,NaN,NaN,NaN,NaN,NaN,NaN
199965,30409.0,2003.0,07/13/2004,East Lyme,260 N BRIDEBROOK RD,217630.0,385000.0,0.565272727,NaN,NaN,NaN,NaN,NaN,NaN
199966,30361.0,2003.0,06/08/2004,Guilford,TANNER MARSH RD,173360.0,215000.0,0.806325581,NaN,NaN,NaN,NaN,NaN,NaN
199967,33695.0,2003.0,06/23/2004,New Haven,58 LIVINGSTON ST,181090.0,398525.0,0.454400602,NaN,NaN,NaN,NaN,NaN,NaN
199968,30316.0,2003.0,12/15/2003,Bristol,27 SONGBIRD LN,0.0,223962.0,0,NaN,NaN,17.0,NaN,NaN,POINT (-72.96818 41.6798)
199969,30164.0,2003.0,02/12/2004,Ledyard,6 PLEASANT VW,57890.0,95000.0,0.609368421,NaN,NaN,NaN,NaN,NaN,NaN
199970,31379.0,2003.0,09/10/2004,Greenwich,8 MEADOW RD,713160.0,2000000.0,0.35658,NaN,NaN,NaN,NaN,NaN,NaN
199971,30048.0,2003.0,01/30/2004,Killingworth,35 OLD MINE RD,274920.0,551000.0,0.498947368,NaN,NaN,7.0,NaN,NaN,POINT (-72.57484 41.3286)
199972,30984.0,2003.0,06/25/2004,Greenwich,27 CLAPBOARD RDG RD,2580480.0,5350000.0,0.48233271,NaN,NaN,NaN,NaN,NaN,POINT (-73.62713 41.07078)
199973,30152.0,2003.0,12/08/2003,Groton,206 SENECA DR,130550.0,269995.0,0.483527473,NaN,NaN,NaN,NaN,NaN,NaN
199974,32094.0,2003.0,10/02/2003,New Haven,468 WHITNEY AVE B21,150990.0,298999.0,0.504984967,NaN,NaN,NaN,NaN,NaN,NaN
199975,20650.0,2002.0,04/22/2003,West Hartford,13 HIGHLAND ST 211,59520.0,171900.0,0.346247818,NaN,NaN,NaN,NaN,NaN,NaN
199976,30147.0,2003.0,03/08/2004,Colchester,83 BORETZ RD,104500.0,155000.0,0.674193548,NaN,NaN,14.0,NaN,NaN,NaN
199977,20295.0,2002.0,01/02/2003,West Haven,110 ROCKDALE RD,66710.0,130000.0,0.513153846,NaN,NaN,NaN,NaN,NaN,POINT (-72.96709 41.29328)
199978,30080.0,2003.0,11/03/2003,Glastonbury,101 NAUBUC AVE,152600.0,45700.0,333.916.849,NaN,NaN,8.0,NaN,NaN,NaN
199979,30595.0,2003.0,07/16/2004,East Haven,173 RUSSO AVE U 411,52500.0,154000.0,0.340909091,NaN,NaN,NaN,NaN,NaN,NaN
199980,30702.0,2003.0,05/03/2004,Greenwich,19 FERRIS DR,367990.0,800000.0,0.4599875,NaN,NaN,NaN,NaN,NaN,POINT (-73.56885 41.04213)
199981,30099.0,2003.0,12/11/2003,Simsbury,31 RIVERSIDE RD,128960.0,80000.0,1.612,NaN,NaN,25.0,NaN,NaN,NaN
199982,30321.0,2003.0,06/01/2004,East Lyme,4 KENSINGTON DR,50820.0,159900.0,0.31782364,NaN,NaN,NaN,NaN,NaN,NaN
199983,20114.0,2002.0,01/28/2003,Watertown,LT 4 BEACH AVE,182630.0,100000.0,18.263,NaN,NaN,1.0,NaN,NaN,POINT (-73.10853 41.61368)
199984,30423.0,2003.0,02/02/2004,Greenwich,78 VALLEY RD,730240.0,1370000.0,0.533021898,NaN,NaN,NaN,NaN,NaN,POINT (-73.59157 41.04382)
199985,20257.0,2002.0,06/06/2003,Watertown,SUNNYSIDE AVE,208740.0,270000.0,0.773111111,NaN,NaN,7.0,NaN,NaN,NaN
199986,30005.0,2003.0,10/01/2003,Greenwich,16 GREENWICH AVE,412440.0,990000.0,0.416606061,NaN,NaN,NaN,NaN,NaN,NaN
199987,20029.0,2002.0,10/08/2002,West Hartford,47 HIGHLAND ST UT 204,13500.0,24900.0,0.542168675,NaN,NaN,NaN,NaN,NaN,NaN
199988,30196.0,2003.0,05/28/2004,Derby,1C MAPLEWOOD CONDO,70700.0,175000.0,0.404,NaN,NaN,NaN,NaN,NaN,NaN
199989,30096.0,2003.0,02/17/2004,Granby,335 SALMON BRK ST,198590.0,265000.0,0.749396226,NaN,NaN,NaN,NaN,NaN,POINT (-72.79059 41.96358)
199990,20617.0,2002.0,09/09/2003,Windsor,338 D DUNFEY LN,39410.0,82000.0,0.480609756,NaN,NaN,NaN,NaN,NaN,NaN
199991,30770.0,2003.0,06/24/2004,East Hartford,817 BURNHAM ST,99320.0,192000.0,0.517291667,NaN,NaN,NaN,NaN,NaN,POINT (-72.58745 41.80042)
199992,30059.0,2003.0,11/13/2003,North Haven,30 BEACH ST,73640.0,167500.0,0.439641791,NaN,NaN,NaN,NaN,NaN,POINT (-72.84943 41.37184)
199993,31037.0,2003.0,07/30/2004,Hamden,5 ALENIER ST,76720.0,203000.0,0.377931034,NaN,NaN,NaN,NaN,NaN,NaN
199994,30369.0,2003.0,09/30/2004,Ellington,18 ALLEN RDG DR,240890.0,465000.0,0.518043011,NaN,NaN,NaN,NaN,NaN,NaN
199995,30421.0,2003.0,07/21/2004,East Lyme,81 E PATT RD 9,46270.0,134900.0,0.342994811,NaN,NaN,NaN,NaN,NaN,NaN
199996,20368.0,2002.0,03/11/2003,Wallingford,23 TREMPER DR,105600.0,152400.0,0.692913386,NaN,NaN,NaN,NaN,NaN,NaN
199997,31892.0,2003.0,09/10/2004,Danbury,3 SAUGATUCK RDG RD,117700.0,824860.0,0.142690881,NaN,NaN,7.0,NaN,NaN,NaN
199998,30811.0,2003.0,07/01/2004,Fairfield,15 HORNBEAM RD,493220.0,977000.0,0.504831116,NaN,NaN,NaN,NaN,NaN,NaN
199999,39244.0,2003.0,07/16/2004,Fairfield,175 BENNETT ST,163030.0,355000.0,0.459239437,NaN,NaN,NaN,NaN,NaN,POINT (-73.24081 41.20367)
200000,39267.0,2003.0,09/03/2004,Clinton,133 W MAIN ST C8,8100.0,3000.0,2.7,NaN,NaN,25.0,NaN,NaN,NaN
200001,20763.0,2002.0,06/17/2003,West Haven,130 JONES ST,70700.0,179000.0,0.394972067,NaN,NaN,NaN,NaN,NaN,NaN
200002,21066.0,2002.0,07/22/2003,West Hartford,15 PORTER DR,240880.0,515000.0,0.467728155,NaN,NaN,NaN,NaN,NaN,POINT (-72.75671 41.77555)
200003,30531.0,2003.0,04/15/2004,East Hartford,43 TIFFANY RD,80330.0,130000.0,0.617923077,NaN,NaN,14.0,NaN,NaN,NaN
200004,30624.0,2003.0,03/03/2004,Bristol,81 ANDREWS ST,69230.0,130000.0,0.532538462,NaN,NaN,NaN,NaN,NaN,NaN
200005,30434.0,2003.0,02/06/2004,Greenwich,57 PROSPECT ST,183470.0,375000.0,0.489253333,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
propertyType = data['propertyType']
print(propertyType.unique())

['Commercial' 'Residential' 'Vacant Land' nan 'Apartments' 'Industrial'
 'Public Utility' 'Condo' 'Two Family' 'Three Family' 'Single Family']

In [31]:
residentialType = data['residentialType']
residentialType

1                   NaN
2         Single Family
3                 Condo
4         Single Family
5         Single Family
              ...
200001              NaN
200002              NaN
200003              NaN
200004              NaN
200005              NaN
Name: residentialType, Length: 200005, dtype: object

In [32]:
print(data['residentialType'].unique())

[nan 'Single Family' 'Condo' 'Two Family' 'Three Family' 'Residential'
 'Four Family' 'Vacant Land' '0.3053' '0.7957' '10.159' '659580.00'
 '0.332716883' '6450000.00' '0.8065' '0.3085' '1240000.00' '155000.00'
 '117B NE' '0.2338' '1.323.777.778' '36.164' '0.875354108' '0.470674286'
 '0.527' '0.6128' '510000.00' 'Commercial' 'Apartments' '194000.00'
 '160000.00' '0.69125' '244700.00' '0.5151' '140000.00' '19.792'
 '0.820163333' '14.501' '5442100.00' '0.395' '44240.00' '525000.00'
 '39487707.00' '0.1182' '0.67' 'Industrial' '225000.00' '0.825' '0'
 '0.1097' '460000.00' '0.764' '100000.00' '18.112']

In [33]:
residentialType = residentialType.apply(lambda x: x if not (isinstance(x, str) and x.isnumeric()) else None)

In [34]:
print(residentialType.unique())

[nan 'Single Family' 'Condo' 'Two Family' 'Three Family' 'Residential'
 'Four Family' 'Vacant Land' '0.3053' '0.7957' '10.159' '659580.00'
 '0.332716883' '6450000.00' '0.8065' '0.3085' '1240000.00' '155000.00'
 '117B NE' '0.2338' '1.323.777.778' '36.164' '0.875354108' '0.470674286'
 '0.527' '0.6128' '510000.00' 'Commercial' 'Apartments' '194000.00'
 '160000.00' '0.69125' '244700.00' '0.5151' '140000.00' '19.792'
 '0.820163333' '14.501' '5442100.00' '0.395' '44240.00' '525000.00'
 '39487707.00' '0.1182' '0.67' 'Industrial' '225000.00' '0.825' None
 '0.1097' '460000.00' '0.764' '100000.00' '18.112']

In [35]:
# columna_original = data['residentialType']

valores2 = ['Single Family', 'Two Family', 'Three Family', 'Four Family']

data['propertyType'] = [valor if valor in valores2 else np.nan for valor in data['residentialType']]

print(data['residentialType'])

1                   NaN
2         Single Family
3                 Condo
4         Single Family
5         Single Family
              ...
200001              NaN
200002              NaN
200003              NaN
200004              NaN
200005              NaN
Name: residentialType, Length: 200005, dtype: object

In [36]:
print(data['residentialType'].unique())

[nan 'Single Family' 'Condo' 'Two Family' 'Three Family' 'Residential'
 'Four Family' 'Vacant Land' '0.3053' '0.7957' '10.159' '659580.00'
 '0.332716883' '6450000.00' '0.8065' '0.3085' '1240000.00' '155000.00'
 '117B NE' '0.2338' '1.323.777.778' '36.164' '0.875354108' '0.470674286'
 '0.527' '0.6128' '510000.00' 'Commercial' 'Apartments' '194000.00'
 '160000.00' '0.69125' '244700.00' '0.5151' '140000.00' '19.792'
 '0.820163333' '14.501' '5442100.00' '0.395' '44240.00' '525000.00'
 '39487707.00' '0.1182' '0.67' 'Industrial' '225000.00' '0.825' '0'
 '0.1097' '460000.00' '0.764' '100000.00' '18.112']